@import "tailwindcss";

/* Invicibot Title CSS */
.title {
    color: #FFF;
    font-family: "Chakra Petch";
    font-size: 140px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.subtitle {
    color: #FFF;
    text-align: center;
    font-family: "Chakra Petch";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}